body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 200px;
}

input.button {
  /* justify-self: center; */
  margin: 20px;
  padding: 3px;
  grid-column-start: 1;
  grid-column-end: span 2;
}

table, th, td {
  padding: 10px;
  border: solid 1px black;
}

tr {
  min-width: 300px;
  /* max-width: 800px; */
  text-align: center;
}


