* {
  /* border: 1px solid black; */
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  display: flex;
  align-items: center;
}

.fiwave {
  height: 60px;
}

.bosonit {
  height: 30px;
}

.grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.field, label {
  font-weight: bold;
  text-align: center;
}

input {
  text-align: center;
}

#display {
  border: 1px solid black;
  margin-top: 15px;
  height: 40px;
  width: 400px;
  grid-column-start: 1;
  grid-column-end: span 3;
  justify-self: center;
  display: table;
}

#text {
  display: table-cell;
  vertical-align: middle; 
  text-align: center; 
}

.button {
  /* justify-self: center; */
  margin: 20px;
  padding: 3px;
  /* grid-column-start: 1;
  grid-column-end: span 3; */
}

container {
  display: flex;
}

#reset{
  padding: 5px;
  margin: 5px;
}

th, td {
  padding: 10px;
  border: solid 1px black;
  width: 400px;
}

tr {
  min-width: 300px;
  /* max-width: 800px; */
  text-align: center;
}


